name = "nexus-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[env.preview]
name = "nexus-api-preview"

[[env.preview.d1_databases]]
binding = "DB"
database_name = "nexus-db-preview"
database_id = "b0ac949c-75bc-41ec-9852-032cba9cdc89"

[[env.preview.kv_namespaces]]
binding = "KV"
id = "0cd3ff89093b4d9182f6e5269bc14497"

[[env.preview.durable_objects.bindings]]
name = "UserDO"
class_name = "UserDO"
script_name = "nexus-api-preview"

[env.preview.vars]
PUBLIC_API_URL = "https://api.nexus.example.com"

[env.production]
name = "nexus-api"

[[env.production.d1_databases]]
binding = "DB"
database_name = "nexus-db"
database_id = "d9352fa9-a4d1-4301-b948-e4d107e6b2bd"

[[env.production.kv_namespaces]]
binding = "KV"
id = "860ceab45edf4b7d86c8523a2e8e070e"

[[env.production.durable_objects.bindings]]
name = "UserDO"
class_name = "UserDO"
script_name = "nexus-api"

[[migrations]]
tag = "v1"
new_classes = ["UserDO"]

[env.production.vars]
PUBLIC_API_URL = "https://api.nexus.example.com"
